<% provide(:title, "株式指標計算サイト") %>
<% provide(:description, "計算できる株式指標をまとめています。PER(株価収益率)、PBR(純資産倍率)、PCFR(株価キャッシュフロー倍率)、ROE(自己資本利益率)、ROA(純資産利益率)などのファンダメンタル分析の指標と、簡単な説明を確認できます。") %>

<main>
  <%# リンク　パンくず %>
  <div class="container-fluid">
    <div class="row pt-2 mx-0">
      <div class="col-4 px-0">
        <nav>
          <ol class="breadcrumb breadcrumb-01">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active"><%=@current_index%></li>
          </ol>
        </nav>
      </div>
      <div class="col-8 text-right">
        <ul class="list-unstyled list-inline">
          <li class="list-inline-item"><a id="b-twitter" href="https://twitter.com/share?url=<%= request.url%>&text=投資分析ツール『Stool』を使って指標を計算してみよう！" rel="nofollow" target="_blank"><i class="fab fa-twitter-square fa-2x"></i></a></li>
          <li class="list-inline-item px-3"><a id="b-facebook" href="https://www.facebook.com/share.php?u=<%=request.url%>" rel="nofollow" target="_blank"><i class="fab fa-facebook fa-2x"></i></a></li>
          <li class="list-inline-item"><a id="b-line" href="https://social-plugins.line.me/lineit/share?url=<%=request.url%>" target="_blank" rel="nofollow"><i class="fab fa-line fa-2x"></i></a>
          <script type="text/javascript">LineIt.loadButton();</script></li>
        </ul>
      </div>
    </div>
  </div>
  <%# メイン %>
  <div class="container-fluid mt-4">
    <div class="row justify-content-around">
      <div class="col-9">

        <%# 見出し %>
        <div class="row">
          <div class="col-12 text-center border-01">
            <h2>計算指標一覧</h2>
            <p></p>
          </div>
        </div>
        <%# ファンダメンタル %>
          <div class="cul-form-01 index-01">
            <div class="row">
              <div class="col-12 px-0 mb-5">
                <div class="h4 index-03 d-flex align-items-center"><i class="fas fa-chart-pie fa-2x pr-2"></i>ファンダメンタル指標</div>
              </div>
            </div>
            <%# ファンダメンタルの指標一覧 %>
            <div class="row">
              <div class="col-12">
                <ul id="list">
                  <li>
                    <a href="/stock_per">PER（株価収益率）</a>
                    <p>企業の収益に対して、株価が割安かはかる指標。一般的に15倍以下が割安となる。</p>
                  </li>
                  <li>
                    <a href="/stock_pbr">PBR（純資産倍率）</a>
                    <p>企業が持つ資本に対して、株価が割安かはかる指標。一般的に１倍以下が割安となる。</p> 
                  </li>
                  <li>
                    <a>PCFR（株価キャッシュフロー倍率）</a>
                    <p>企業の営業キャッシュフローに対して、株価が割安かはかる指標。営業キャッシュフローは「純利益」から「減価償却費」を外したものなので、PERを補完する役割を持つ。一般的に7倍以下が割安となる。</p>
                  </li>
                  <li>
                    <a href="/stock_roe">ROE（自己資本利益率）</a>
                    <p> 企業が株主の投資金に対して、どれだけ効率的に、利益を生み出しているのかを示す指標。一般的に、10~20%程度が優良企業となる。</p>
                  </li>
                  <li>
                    <a>ROA（純資産利益率）</a>
                    <p>企業が総資産に対して、どれだけ効率的に利益が生み出しているのかを示す指標。一般的に、５％以上が優良企業となる。</p>
                  </li>
                </ul>
              </div>
            </div>

          </div>

      </div>
    </div>
  </div>
</main>

