 <div class="container-fluid">
    <div class="row justify-content-around">
      <div class="col-9">

        <%# 見出し %>
        <div class="row">
          <div class="col-12 pt-2 text-center border-01">
            <h1>PER計算</h1>
            <p>株価,EPS,時価総額,純利益 をもとにPERを計算します</p>
          </div>
        </div>

        <div class="row">
          <div class="col-12 mt-5">
            <ul >
              <li>ファンダメンタル分析</li>
                <ul id="index">
                <li>PER</li>
                <li>PBR</li>
                <li>ROE</li>
                <li>EPS</li>
              </ul>
            </ul>
            <i class="fa fa-calendar"></i>
          </div>
        </div>
      </div>
    </div>
  </div>


