// フッター

footer {
  text-align: center;
  padding: 5px 0px 5px 0px;
}

footer a {
  font-size: 15px;
}

footer div {
  font-size: small;
  color: #e4e1e1;
  padding-top: 12px;
}

.footer-left {
  padding-right: 25px;
}

.footer-right {
  padding-left: 25px;
}