.construction{

  list-style-type: none;
  
  }
  
  .construction ul {
  
  margin: 0;
  
  padding: 0;
  
  list-style-type: none;
  
  }
  
  .construction ul {
  
  position: relative;
  
  /* margin-top: 1rem; */
  
  margin-left: 15px;
  
  }
  
  .construction ul:before {
  
  content: "";
  
  display: block;
  
  position: absolute;
  
  top: 0;
  
  bottom: 0;
  
  left: 0;
  
  width: 0;
  
  border-left: 1px solid gray;
  
  }
  
  .construction ul li {
  
  position: relative;
  
  margin: 0;
  
  padding: 7px 15px;
  
  /* padding: 0; */
  
  }
  
  .construction ul li:before {
  
  content: "";
  
  display: block;
  
  position: absolute;
  
  top: 15px;
  
  left: 0;
  
  width: 15px;
  
  height: 0;
  
  border-top: 1px solid gray;
  
  }
  
  .construction ul li:last-child:before {
  
  top: 15px;
  
  bottom: 0;
  
  height: auto;
  
  background-color: #fff;
  
  }