@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
// パーシャル
@import 'homepage';
@import 'advertisement';
@import 'footer';
@import 'top';
@import 'calc-page';
@import 'breadcrumbs';

// 全体


body {
  background-color: rgb(245, 243, 243);
}

.a-01 {
  text-decoration: none;
  color: white;
}

.a-01:hover {
  text-decoration: none;
  text-shadow: 1px;
}

// ヘッダーはなし

// 見出し

.breadcrumb-01 {
  background-color: rgb(245, 243, 243);
  font-size: small;
}

.border-01 {
  border-bottom: 1px solid;
}

