@import '~bootstrap/scss/bootstrap';
// @import "font-awesome-sprockets";
// @import "font-awesome";

// パーシャル
@import 'footer';
@import 'home';
@import 'calc-page';

// 全体

body {
  background-color: rgb(245, 243, 243);
}

// ヘッダーはなし

// 見出し

.breadcrumb-01 {
  background-color: rgb(245, 243, 243);
  font-size: small;
}

.border-01 {
  border-bottom: 1px solid;
}

