 <div class="container-fluid border-top ">
    <div class="row">
      <div class="col-12 my-4 text-center">
          <p class="mb-0 ad-01">米国株で資産を10倍・20倍 おすすめ勉強法→　<a href="https://www.infotop.jp/click.php?aid=398123&iid=75444" target="_blank" rel="sponsored">米株株投資メソッド</a></p>
      </div>
    </div>
  </div>