<footer class="border-top " style="background-color: #5F9EA0;" >
	<a class="footer-left text-white" href="/">トップページ</a>
	<a class="footer-right text-white" href="/">お問い合わせ</a>
	<div><small>© 2021 Stool</small></div>
</footer> 