<div class="container-fluid" style="background-color: #5F9EA0;">
	<div class="row text-white border-bottom">
		<div class="col-md-10 ">
			<div class="row">
				<div class="col-md-2 pr-md-0 ">
					<div class="text-center"><a href="/" class="h1 mb-0 a-01">Stool</a></div>
				</div>
				<div class="col-md-10 pl-0">
					<p class="text-center text-md-left mb-2 mt-3 d-none d-md-inline-block">指標計算ツール</p>
				</div>
			</div>
		</div>
		<div class="col-md-2 text-center pr-md-0 d-none d-md-inline-block">
			<div class="ml-5 mt-3"><a href="/" class="a-01" >Home</a></div>
		</div>
	</div>
</div>


