 <div class="container-fluid border-bottom ">
    <div class="row">
      <div class="col-12 my-4 text-center">
          <p class="mb-0 ad-01">仮想通貨おすすめ勉強法→　<a href="https://www.infotop.jp/click.php?aid=398123&iid=73417" target="_blank" rel="sponsored">仮想通貨入門～仮想通貨でお金持ちになる方法～</a></p>
      </div>
    </div>
  </div>